<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="b7bfc0">  <td>17/11/09 15:33:03</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Exam.Search()[pri:0, instance:labexam.Exam@4944252c]">Search</td> 
  <td>main@702061917</td>   <td></td> </tr>
<tr bgcolor="b7bfc0">  <td>17/11/09 15:32:21</td>   <td>-41969</td> <td>&nbsp;</td><td title="&gt;&gt;Exam.launchapp()[pri:0, instance:labexam.Exam@4944252c]">&gt;&gt;launchapp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@702061917</td>   <td></td> </tr>
<tr bgcolor="b7bfc0">  <td>17/11/09 15:33:19</td>   <td>15839</td> <td>&nbsp;</td><td title="&lt;&lt;Exam.terminatetest()[pri:0, instance:labexam.Exam@4944252c]">&lt;&lt;terminatetest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@702061917</td>   <td></td> </tr>
</table>
